---
title: "Portfólio de Materiais"
author_profile: true
permalink: /materiais/
---

<!-- {% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      {% if label == "_ia" %}
        <h2 id="{{ label | slugify }}" class="archive__subtitle">Portfólio</h2>
      {% endif %}
      {% if label == "portfolio1" %}
        <h2 id="{{ label | slugify }}" class="archive__subtitle">Orelha</h2>
      {% endif %}
      {% if label == "portfolio2" %}
        <h2 id="{{ label | slugify }}" class="archive__subtitle">Nariz</h2>
      {% endif %}
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
{% endfor %} -->

<a href="#bd" ><img src="https://raster.shields.io/badge/-Banco%20de%20Dados-blue.png"></a>
<!-- <a href="#ia" ><img src="https://raster.shields.io/badge/-Intelig%C3%AAncia%20Artificial-informational.png"></a> -->
<!-- <a href="#outros" ><img src="https://raster.shields.io/badge/-Outros-lightgrey.png"></a> -->

<a id="bd"></a><h3>Banco de Dados:</h3><hr>
<ul>
    <li>Normalização de Banco de Dados&nbsp;<a target="_blank" href="https://docs.google.com/presentation/d/1m9Sn98TfoCMGOjiEZvP6L_9yTJedBRyW_YAVNtL7dyo/edit?usp=sharing"><img src="/assets/images/slides.PNG" width="20px"/></a>
</ul>

<!-- <a id="ia"></a><h3>IA, Machine Learning e Deep Learning</h3><hr>
{% for post in site.portfolio_ia %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
{% endfor %} -->

<!-- <a id="outros"></a><h3>Outros</h3><hr>
{% for post in site.portfolio_outros %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
{% endfor %} -->